<%= form_with url: analyze_path,
              method: :post,
              data: { turbo: false } do |form| %>
  <div>
    <%= form.label :description, "Descrição da Vaga:" %>
    <%= form.text_area :description, size: "40x10", placeholder: "Enter details..." %>
  </div>
  
  <div>
    <%= form.label :curriculum, "Curriculo MarkDown:" %>
    <%= form.text_area :curriculum, size: "40x10", placeholder: "Enter details..." %>
  </div>

  <%= form.submit "Enviar" %>
<% end %>

<% if @result_curriculum.present? %>
  <pre><%= @result_curriculum %></pre>
<% end %>

<% if @result_email.present? %>
  <pre><%= @result_email %></pre>
<% end %>

